<!doctype html>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> Stock Prophet! </title>
		<link rel="stylesheet" href="../static/style.css">
	</head>


	<body style="background-color:grey;">
		<div >
			<form action=http://localhost:5000/plot method = "POST">
				<input type="text" name="companyname" placeholder="Enter A Company" class = "searchbox">
				<input type="submit" name="Search"  class="submit">
			</form>
		<center>
			<a href="/" class = "homepage">Stock Analysis and Trading Simulator</a>
		</center>
			<marquee class = "bottombar">THE FUTURE AWAITS</marquee>
		</div>
	</body>

</html>